<%= render :partial => 'shared/errors', :locals => {:object => scrape} %>

<%= form_for(scrape) do |f| %>
  <div class="form-group">
    <%= f.label(:spreadsheet_id, 'Choose a spreadsheet to scrape with...') %>
    <%= f.collection_select(
      :spreadsheet_id,
      Spreadsheet.all,
      :id,
      Proc.new{|spreadsheet| "#{spreadsheet.title} - #{spreadsheet.key}"},
      {:include_blank => true},
      {:class => 'form-control'}
    ) %>
  </div>
  <%= f.submit('Create Scrape', :class => 'btn btn-primary') %>
<% end %>