<div class="row">
  <div class="col-xs-12">

    <div class="scrape">
      <h2>
        Scrape for:
        <%= link_to(scrape.spreadsheet.title, spreadsheet_path(scrape.spreadsheet)) %>
      </h2>

      <table class="table">
        <thead>
          <tr>
            <th>
              Key
            </th>
            <th>
              Value
            </th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
              ID
            </td>
            <td>
              <%= scrape.id %>
            </td>
          </tr>

          <tr>
            <td>
              Time Performed
            </td>
            <td>
              <%= scrape.created_at %>
            </td>
          </tr>

          <tr>
            <td>
              <%= link_to('Show Data', '#', :class => "scrape-data-toggle", :data => {:hidden => true, :scrape_id => scrape.id}) %>
            </td>
            <td>
              <pre id="scrape-data-<%= scrape.id %>" class="scrape-data"><%= JSON.pretty_generate(scrape.data) %></pre>
            </td>
          </tr>

        </tbody>
      </table>
    </div><!-- scrape -->

    <div class="actions">
      <%= link_to('Upload Scrape Data to Spreadsheet', '#', :class => 'btn btn-primary') %>

      <%= link_to('Delete Scrape', '#', :method => :delete, :class => 'btn btn-danger', :data => {:confirm => 'Are you sure you want to delete this scrape?'}) %>
    </div><!-- actions -->

  </div><!-- col -->
</div><!-- row -->




