<h2>Setup:</h2>
	
<% if @refresh_token %>
	
	<h3>Your DRIVE_TOKEN_DATA is:<br> <span style="color: blue;"><%= @refresh_token %></span></h3>
	<p>Set this, along with your CLIENT_ID and CLIENT_SECRET on Heroku and you'll be good to go.</p>

<% else %>

	<%= form_tag '/setup', method: 'GET' do %>
		<div class="form-group">
			<%= label_tag :client_id, "Client ID:" %>
			<%= text_field_tag :client_id, nil , class: "form-control" %>
		</div>

		<div class="form-group">
			<%= label_tag :client_secret, "Client Secret:" %>
			<%= text_field_tag :client_secret, nil , class: "form-control" %>
		</div>

		<div class="form-group">
			<%= submit_tag "Submit", class: "btn btn-primary" %>
		</div>

	<% end %>

	<h3>Once you submit, view the rails server for further instructions</h3>

<% end %>